.filter-button {
  .filter-item-label {
    display: flex;
    width: 100px;
    padding: 10px;
    text-align: center;
    border: 1.5px solid cadetblue;
    cursor: pointer;
    font-size: 14px;

    svg {
      color: slategray;
      margin-right: 10px;
    }

    &.active {
      background: cadetblue;
      color: #ffffff;
    }
  }

  input {
    display: none;
  }

  span {
    display: block;
    text-align: center;
    margin-top: 7px;
  }

  .filter-point {
    margin-right: 15px;
  }

  @media (max-width: 540px) {
    width: 100%;
    .filter-item-label {
      width: calc(100% - 20px);
    }
  }
}


