footer {
  display: flex;
  align-items: center;
  justify-content: center;

  .buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  max-width: 500px;
  margin: 0 auto;

  & > span {
    margin-right: 20px;
  }

  .filter-button:first-child {
    label {
      border-radius: 7px 0 0 7px;
      border-right-width: 0;
    }
  }

  .filter-button:last-child {
    label {
      border-radius: 0 7px 7px 0;
      border-left-width: 0;
    }
  }

  @media (max-width: 540px) {
    max-width: 300px;
    width: 100%;
    flex-direction: column;

    span {
      align-self: flex-start;
      margin-bottom: 5px;
    }

    .buttons-container {
      width: 100%;
      flex-direction: column;

      .filter-button:first-child {
        label {
          border-radius: 7px 7px 0 0;
          border-bottom: 0;
          border-right-width: 1.5px;
        }
      }

      .filter-button:last-child {
        label {
          border-radius: 0 0 7px 7px;
          border-top: 0;
          border-left-width: 1.5px;
        }
      }
    }
  }
}