@import "../../assets/variables";
footer {
  max-width: 200px;
  margin: 0 auto 40px auto;

  .slick-prev:before, .slick-next:before {
    color: $secondary-c;
  }

  .user-item {
    outline: none;
  }
}