.items-container {
  padding: 40px 0 ;
  max-width: 500px;
  margin: 0 auto;
}

.items-container .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.item-left-cont {
  display: flex;
  align-items: center;
}

.item:first-child {
  margin-top: 0;
}

.item .number {
  padding: 15px 20px;
  color: #ffffff;
  font-size: 20px;
  background-color: cadetblue;
  margin-right: 20px;
}

.item .number.checked {
  background-color: slategray;
  text-decoration: none;
}

.item .remove-item {
  margin-left: 20px;
  padding: 5px 10px;
  background-color: #DDDDDD;
  border-radius: 50%;
}

.item p {
  font-size: 19px;
  margin: 0;
  text-align: left;
}

.over {
  border: 2px dashed #000;
}

.item .checked {
  text-decoration: line-through;
}